In [1]:
from os import listdir
from os.path import isfile, join

mypath = "/Volumes/TOSHIBA/bandcamp_collection"

onlyfiles = [f for f in listdir(mypath) if isfile(join(mypath, f))]

In [5]:
import pandas as pd

onlyfiles_series = pd.Series(onlyfiles, name="Records")

In [15]:
onlyfiles_series

0                           Krush Lumpkin - Rilascio.zip
1                         ._Krush Lumpkin - Rilascio.zip
2      Raccordo Fluviale Subalpino - Raccordo Fluvial...
3      ._Raccordo Fluviale Subalpino - Raccordo Fluvi...
4                 Dori Sorride - A Catturare I Raggi.zip
                             ...
811             ._Wedding Acid Group - Easid Bits EP.zip
812                    Unknown Artists - Gomma Piuma.zip
813                  ._Unknown Artists - Gomma Piuma.zip
814         Sprawl + D'Arcangelo Remix - Time Tunnel.zip
815       ._Sprawl + D'Arcangelo Remix - Time Tunnel.zip
Name: Records, Length: 816, dtype: object

In [25]:
onlyfiles_series = pd.Series([x for x in onlyfiles_series if not x.startswith(".")])
onlyfiles_series

0                           Krush Lumpkin - Rilascio.zip
1      Raccordo Fluviale Subalpino - Raccordo Fluvial...
2                 Dori Sorride - A Catturare I Raggi.zip
3                  Kinlaw & Franco Franco - WAVE LED.zip
4                   Reptilian Expo - xperiametaphone.zip
                             ...
403                              Sondáil - Polydial.zip
404                     Chris Moss Acid - Lill Chill.zip
405               Wedding Acid Group - Easid Bits EP.zip
406                    Unknown Artists - Gomma Piuma.zip
407         Sprawl + D'Arcangelo Remix - Time Tunnel.zip
Length: 408, dtype: object

In [54]:
df = pd.DataFrame({"Artist": onlyfiles_series.map(lambda x: (x.split("-")[0])), "Album": onlyfiles_series.map(lambda x: (x.split("-")[-1][:-4].strip()))})

In [56]:
df

                           Artist                        Album
0                  Krush Lumpkin                      Rilascio
1    Raccordo Fluviale Subalpino   Raccordo Fluviale Subalpino
2                   Dori Sorride           A Catturare I Raggi
3         Kinlaw & Franco Franco                      WAVE LED
4                 Reptilian Expo               xperiametaphone
..                            ...                          ...
403                     Sondáil                      Polydial
404              Chris Moss Acid                    Lill Chill
405           Wedding Acid Group                 Easid Bits EP
406              Unknown Artists                   Gomma Piuma
407   Sprawl + D'Arcangelo Remix                   Time Tunnel

[408 rows x 2 columns]

In [57]:
#df.to_csv("digital_collection.csv")

In [59]:
df.sort_values("Artist")

              Artist                  Album
105           01.zip                     01
5          AIR Krew        A Walk Through H
26          Abu Ama                   AM002
332  Addison Groove   FOOTCRAB VIP REMASTER
44     Adriano Cava               Transient
..               ...                    ...
143        wzrdryAV        Midnight Visions
382            xxoy              Wonderland
370           xxoy.                  Vol. 2
366           xxoy.          Vol. 3 by xxoy
125            Đ.K.     The Ancient Kingdom

[408 rows x 2 columns]

In [60]:
df.to_csv("digital_collection.csv")

In [5]:
import glob
import os
import pandas as pd

root_dir = "/Volumes/TOSHIBA/Rekordbox_database/"
# root_dir needs a trailing slash (i.e. /root/dir/)
for filename in glob.iglob(root_dir + '**/*.mp3', recursive=True):
    print(os.path.basename(filename))
    break

Ascion - The Cybernetic Drama.mp3

In [6]:
tracks = pd.Series([os.path.basename(filename) for filename in glob.iglob(root_dir + '**/*.mp3', recursive=True)])

In [7]:
tracks

0                       Ascion - The Cybernetic Drama.mp3
1                                     Kahn - Abattoir.mp3
2          Young Druid - YOUNG DRUID - 05 Young Druid.mp3
3       Yabby You & King Tubby - Walls of Jerusalem - ...
4                                        2 Tree Stand.mp3
                              ...
4785                                      The Way You.mp3
4786                                    01 - Fire Kit.mp3
4787                                    3 - Bad Sound.mp3
4788            Henry Greenleaf - Rush EP - 02 Borrow.mp3
4789                           02 - dj python - cuál.mp3
Length: 4790, dtype: object

In [8]:
import pandas as pd

df_tracks = pd.DataFrame({"Artist": tracks.map(lambda x: (x.split("-")[0])), "Album": tracks.map(lambda x: (x.split("-")[-1][:-4].strip()))})

In [9]:
df_tracks.head()

                    Artist                 Album
0                  Ascion   The Cybernetic Drama
1                    Kahn               Abattoir
2             Young Druid         05 Young Druid
3  Yabby You & King Tubby     12 School Days Dub
4         2 Tree Stand.mp3          2 Tree Stand

In [10]:
df_tracks.to_csv("tracks_old.csv")

In [11]:
df_tracks.sample(25)

,Artist,Album
1154,O.G. JIGG & FRIENDS,
2884,1,03 Ungrateful
1908,03 Closest Approach To Your Orbit.mp3,03 Closest Approach To Your Orbit
438,Tzusing,01 日出東方 唯我不敗
160,09,Fathomless Irie
728,16,Outro (Feat. Daniel Taylor)
3717,04,Workaround Four
4362,06,Back South
4420,01,7dd237ac
1976,01,Another Thought
2672,SEBASTIANO CARGHINI,05 B1. FORM CASCADE CONTROL
4227,"06. Metronome, Guitare, Scotch De Peintre, Mem...","06. Metronome, Guitare, Scotch De Peintre, Mem..."
2364,Chaperone,02 Fitzgerald
2166,Basic Rhythm,01 2 Da Core
3081,02. Gogo (feat. Mark Luva).mp3,02. Gogo (feat. Mark Luva)
2774,DJ NERVOSO,02 Ah Ah
3068,B9,Distorted Frame
2164,01. Static.mp3,01. Static
4654,Anatolian Weapons,02 Desert Track 28
2069,02 Wanawake (Instrumental).mp3,02 Wanawake (Instrumental)
1786,Andrés Saenz De Sicilia,10 Carrier
1958,03. A Sense of Place.mp3,03. A Sense of Place
42,02 Undevicif.mp3,02 Undevicif
177,Abu Ama,01 Ghostograph
4398,Répéter,05 Corpse In The Attic

In [13]:
tracks = pd.read_csv('tracks.csv', index_col=0)
tracks.head()

                      Artist                                Album
0  Mina, Bryte, King Doudou   Sentah (King Doudou Baile Funk Mix)
1               Motion Ward                             Perpetual
2            Cassius Select              IF YOU DO A LITTLE DANCE
3                  Pugilist                            Intentions
4                    Loefah                           Horror Show

In [15]:
df_tracks.subtract(tracks)

TypeError: unsupported operand type(s) for -: 'str' and 'str'